{% extends "base.html" %}
{% block content %}
<h2>Registrar Venta</h2>
<form method="post">
    Cliente:
    <select name="cliente_id">
        {% for c in clientes %}
        <option value="{{ c.id }}">{{ c.nombre }}</option>
        {% endfor %}
    </select><br>
    Producto:
    <select name="producto_id">
        {% for p in productos %}
        <option value="{{ p.id }}">{{ p.nombre }}</option>
        {% endfor %}
    </select><br>
    <input type="submit" value="Guardar">
</form>
{% endblock %}
